@import "../../assets/css/base/vars.pcss";

.autocomplete-suggestions {
	text-align: left;
	cursor: default;
	border: none;
	background: #fff;

	position: absolute;
	display: none;
	z-index: 9999;
	max-height: 360px;
	overflow: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}
.autocomplete-suggestion {
	position: relative;
	padding: 0 5px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #3C4663;
	border-bottom: 1px solid #ECEBF1;
}
.autocomplete-suggestion b {
	font-weight: normal;
	color: rgb(78, 90, 245);
}
.autocomplete-suggestion.selected {
	background: #ECEBF1;
}