@font-face {
	font-family: 'AvenirR';
	src: url('b64---src/assets/fonts/avenir.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirRBold';
	src: url('b64---src/assets/fonts/avenir-heavy.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirRMedium';
	src: url('b64---src/assets/fonts/avenit-medium.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'League Gothic';
	src: url('b64---src/assets/fonts/leaguegothic-regular-webfont.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('b64---src/assets/fonts/Roboto-Regular.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoBold';
	src: url('b64---src/assets/fonts/Roboto-Bold.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoLight';
	src: url('b64---src/assets/fonts/Roboto-Light.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoMedium';
	src: url('b64---src/assets/fonts/Roboto-Medium.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Din';
	src: url('b64---src/assets/fonts/DINRegular.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DinMedium';
	src: url('b64---src/assets/fonts/DINMedium.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'DinBold';
	src: url('b64---src/assets/fonts/DINBold.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DinLight';
	src: url('b64---src/assets/fonts/DINLight.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Awesome';
	src: url('b64---src/assets/fonts/fontawesome-webfont.woff---') format('woff');
	font-weight: normal;
	font-style: normal;
}