:root {
	--font-base: 'AvenirR', sans-serif;
	--font-base-bold: 'AvenirRBold', sans-serif;
	--font-base-medium: 'AvenirRMedium', sans-serif;
	--font-secondary: 'League Gothic', sans-serif;

	--color-base: #000000;
	--color-primary: #979797;
	--color-primary-light: #EDEDED;
	--color-primary-dark: #383838;
	--color-secondary: #FFC20F;
	--color-contrast : #FF001F;

	--container-width: 1400px;
}