<div class="simple-accordion">
    <h2 class="simple-accordion__heading js-simple-accordion-heading">What is an escape room exactly?</h2>
    <div class="simple-accordion__panel">
        <p>Escape room games are a real-life puzzle experience where a small team is trapped in a room and must solve several clues and riddles in an allocated time to exit the room.</p>
    </div>
    <h2 class="simple-accordion__heading js-simple-accordion-heading">What is an escape room exactly?</h2>
    <div class="simple-accordion__panel">
        <p>Escape room games are a real-life puzzle experience where a small team is trapped in a room and must solve several clues and riddles in an allocated time to exit the room.</p>
    </div>
</div>