@import "../../assets/css/base/vars.pcss";

.simple-accordion {
	&__heading {
		display: block;
		text-transform: none;
		font-size: calc(18px);
		line-height: 1;
		font-family: var(--font-secondary);
		padding: 15px 30px 14px 20px;
		box-sizing: border-box;
		border-radius:5px;
		transition: background 0.2s ease-out;

		&.active {
			background: var(--color-primary-light);
			&:before {
				transform: rotate(0);
			}
		}
		&:before {
			position: relative;
			top:3px;
			float: right;
			content: '';
			background-image: url(../img/close-accordion.svg);
			background-size: 100%;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			transition: transform 0.2s ease-out;
		}
	}
	&__panel {
		padding: 10px 25px 0 15px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		& p {
			line-height: 1.5;
		}
	}
}