.custom-select-container {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	font-family: var(--font-base);
}
.custom-select-container * {
	box-sizing: border-box;
}
.custom-select-container.is-disabled {
	opacity: .333;
}
.custom-select-opener {
	display: block;
	color: var(--color-base);
	background: #FFFFFF;
	width: 100%;
	padding: 21px 40px 20px 23px;
	font-size: 16px;
	line-height: 1.1;
	font-family: var(--font-base-bold);
	border-radius: 0;
	border: 0;
	text-align: left;
}
.custom-select-container select {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.custom-select-panel {
	max-height: 0;
	overflow: hidden;
	background-color: #FFFFFF;
	position: absolute;
	top: 100%;
	z-index: 1;
	width: 100%;
}
.custom-select-container.is-open .custom-select-panel {
	max-height: 100vh;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow-y: auto;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.39);
}
.custom-select-option {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	padding: 0 30px;
	border-bottom: 3px solid #ECECEC;
	&:last-child {
		border-bottom: 0;
	}
}
.custom-select-option.has-focus {
	background-color: #E3BA5A;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.39);
	font-family: var(--font-base-bold);
	border-bottom: 3px solid #E3BA5A;
}

@media (width > 768px) {
	.custom-select-opener {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 1rem;
		height: 60px;
		padding: 0 50px 0 30px;
		& span {
			align-self: center;
		}
	}
}