.owl-carousel {
	&.sus-vic,
	&.sv-carousel {
		width: 100%;
		& .owl-dots {
			display: flex;
			justify-content: center;
			margin-top: 38px;
			& .owl-dot {
				width: 10px;
				height: 10px;
				margin: 0 5px;
				border-radius: 100%;
				border: 1px solid #000;
				box-sizing: border-box;
				&.active {
					background: #000;
				}
			}
		}
		& .owl-nav {
			position: absolute;
			bottom:25px;
			left:0;
			width: 100%;
			& .owl-next,
			& .owl-prev {
				position: absolute;
				align-items: center;
				width: 35px;
				height: 35px;
				border: 1px solid #000;
				border-radius: 100%;
				text-indent: -100rem;
				overflow: hidden;
				box-sizing: border-box;
				background-color: transparent;
				background-repeat: no-repeat;
				background-position: center center;
				&.disabled{
					border-color: #ccc;
				}
			}
			& .owl-prev {
				left: 10px;
				background-image: url(../img/arr-left.svg);
				&.disabled{
					background-image: url(../img/arr-left-grey.svg);
				}
			}
			& .owl-next {
				right: 10px;
				background-image: url(../img/arr-right.svg);
				&.disabled{
					background-image: url(../img/arr-right-grey.svg);
				}
			}
		}
	}
	&.sus-vic {
		@media (width > 768px) {
			& .owl-dots {
				margin-top: 20px;
			}
			& .owl-nav {
				position: absolute;
				width: 80px;
				bottom:100px;
				right: 35px;
				left: auto;
				& .owl-next,
				& .owl-prev {

				}
				& .owl-prev {
					left:0;
				}
				& .owl-next {
					right:0;
				}
			}
		}
	}
	&.sv-carousel {
		& .owl-dots {
			display: flex !important;
		}
		@media (width >= 768px) {
			& .owl-nav {
				display: block !important;
				max-width:280px;
				left: 50%;
				transform: translateX(-50%);
				& .owl-prev {
					left: 20px;
				}
				& .owl-next {
					right: 20px;
				}
			}
			& .owl-dots {
				display: flex !important;
			}
		}
	}
}

.container.full-width {
	& .owl-carousel.sus-vic {
		& .owl-nav {
			& .owl-prev {
				left: 20px;
			}
			& .owl-next {
				right: 20px;
			}
		}
	}
}