@import '../base/vars.pcss';

.desktop {
	display: none;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

@media (width >= 768px) {
	.container {
		padding-left: 70px;
		padding-right: 70px;
	}
}


@media (width > 1200px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}

@media (width > 1400px) {
	.container {
		padding-left: calc(50% - 650px);
		padding-right: calc(50% - 650px);
		margin: 0 auto;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
	min-height: 60px;
	border: 1px solid var(--color-primary);
	font-size: 18px;
	font-family: var(--font-base-medium);
	line-height:1;
	box-sizing: border-box;
	&:hover {
		color: white;
		background: var(--color-primary);
	}
	&.selected {
		color: white;
		background: var(--color-contrast);
	}
	&.small {
		font-size: 15px;
		min-height: 37px;
	}
	&.contrast-color {
		color: var(--color-contrast);
		&:hover {
			background: var(--color-secondary);
			color: white;
		}
	}
}

.hidden{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}