@import "../../assets/css/base/vars.pcss";


#sticky-bottom {
	& header {
		background: var(--color-primary-dark);
		width: 100%;
		height: 140px;
	}

	& footer {
		background: var(--color-primary-dark);
		width: 100%;
		height: 300px;
	}

	& .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
	}

	& main {
		padding-top: 60px;
		height: 1000px;
		width: 100%;
	}

	& aside {
		position: relative;
		width: 450px;
		background: var(--color-primary-light);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 0 0 auto;

	}

	& .sticky-bottom {
		height: 333px;
		background: var(--color-contrast);
		&.sticky {
			width: 450px;
			position: fixed;
			bottom:0;
		}
	}
}

