@import "partials/reset.pcss";
@import "base/fonts.pcss";
@import "base/typo.pcss";
@import "base/vars.pcss";
@import "partials/structure.pcss";
@import "partials/owl.carousel.sv.pcss";
@import "partials/custom-select.pcss";

@import 'vendors/owl.carousel.css';

body{
	font-size: 100%;
	font-family: var(--font-base);
}

a{
	color: var(--color-base);
	text-decoration: none;

}