.topdoc-select {
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	background: transparent;
	border: none;
	width: 100%;
}

.topdoc-select {
	vertical-align: top;
	outline: none;
}

.topdoc-select {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.topdoc-select {
	box-sizing: border-box;
	background-clip: padding-box;
}

.topdoc-select {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.topdoc-select:disabled {
	opacity: .3;
	cursor: default;
	pointer-events: none;
}

.topdoc-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.topdoc-select::-ms-expand {
	display: none;
}

.topdoc-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	text-indent: 1px;
	text-overflow: '';
	padding: .25rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.313rem;
	letter-spacing: 0;
	color: hsla(180, 2%, 78%, 1);
	text-shadow: 0 -1px hsla(0, 0%, 0%, .69);
	vertical-align: top;
	border-radius: 4px;
	background-color: hsla(180, 1%, 35%, 1);
	box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
	border: 1px solid hsla(180, 1%, 20%, 1);
	background-image: url('../img/dropdown.svg');
	background-repeat: no-repeat;
	background-position: center right;
	min-width: 3.4rem;
}

.topdoc-select:hover {
	background-color: hsla(200, 2%, 39%, 1);
}

.topdoc-select:active {
	background-color: hsla(210, 2%, 25%, 1);
	box-shadow: inset 0 1px hsla(0, 0%, 0%, .05);
}

.topdoc-select:focus {
	border: 1px solid hsla(227, 100%, 50%, 1);
	box-shadow: 0 0 0 2px hsla(208, 82%, 69%, 1);
	outline: 0;
}
.dark .topdoc-select {
	color: hsla(180, 2%, 78%, 1);
	text-shadow: 0 -1px hsla(0, 0%, 0%, 0.69);
	background-color: hsla(180, 1%, 35%, 1);
	box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
	border: 1px solid hsla(180, 1%, 20%, 1);
}
.dark .topdoc-select:hover {
	background-color: hsla(200, 2%, 39%, 1);
}
.dark .topdoc-select:active {
	background-color: hsla(210, 2%, 25%, 1);
	box-shadow: inset 0 1px hsla(0, 0%, 0%, 0.05);
}
@media screen and (max-width: 650px) {
	.topdoc-select {
		color: hsla(180, 2%, 78%, 1);
		text-shadow: 0 -1px hsla(0, 0%, 0%, 0.69);
		background-color: hsla(180, 1%, 35%, 1);
		box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
		border: 1px solid hsla(180, 1%, 20%, 1);
		padding: 0.7rem 1.4rem 0.7rem 1rem;
		font-size: 16px;
		height: 3rem;
		letter-spacing: 1px;
		border-radius: 6px;
	}
	.topdoc-select:hover {
		background-color: hsla(200, 2%, 39%, 1);
	}
	.topdoc-select:active {
		background-color: hsla(210, 2%, 25%, 1);
		box-shadow: inset 0 1px hsla(0, 0%, 0%, 0.05);
	}
}
