doctype html
html(lang="en")
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title=document.title
		meta(name="viewport", content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0")
		meta(name="robots", content="noindex, follow")
		link(rel='shortcut icon' type='image/ico' href=`/iframes/assets/img/sv_favicon.ico`)
		link(rel='stylesheet', type='text/css', href='/iframes/assets/css/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,700')
	body(id=component.slug)
		!=component.markup
		script(type="text/javascript" src="/iframes/assets/js/main.js")
