doctype html
html(lang="en")
	head
		title=document.title

		meta(name="robots", content="noindex, follow")

		link(rel='stylesheet', type='text/css', href=`assets/fonts/stylesheet.css`)
		link(rel='stylesheet', type='text/css', href=`assets/css/brackets.css`)
		link(rel='stylesheet', type='text/css', href=`assets/css/main.css`)
		link(rel='stylesheet', type='text/css', href=`assets/css/theme.css`)
		link(rel='stylesheet', type='text/css', href=`assets/css/select.css`)

		link(rel='shortcut icon' type='image/ico' href=`assets/img/sv_favicon.ico`)

		script(type="text/javascript", src=`assets/js/main.js`)
		script(type="text/javascript", src=`assets/js/rainbow.linenumbers.min.js`)
		script(type="text/javascript", src=`assets/js/rainbow-custom.min.js`)

		meta(name="viewport", content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0")

	body.light
		#wrapper
			.max-width
				#sideNav
					div.combo
						select#docNav.topdoc-select
							each file in document.files
								if file.current
									option(value='', selected="selected")=file.title
								else if file.first
									option(value='index.html')=file.title
								else
									option(value=`${file.filename}`)=file.title
					#pageNav
						ul
							each component in document.components
								li: a(href='#'+component.slug)=component.name
			#site
				header#main-header
					.max-width
						hgroup
							h1=document.templateData.project.name
						a#slide-menu-button.topcoat-icon-button--large--quiet
							span.topcoat-icon--large.topcoat-icon--menu-stack
				#content.max-width
					each component in document.components
						article.component(id=component.slug)
							header
								h2=component.name
								if(component.description)
									p=component.description
							.componentframe-links
								a(href=component.iframe_path, target="_blank") Open a new tab
							.componentframe-info
								.componentframe-info-width
								.componentframe-info-height
							.componentframe.clearfix
								iframe(src=component.iframe_path)
							footer
								div.showcode
									a(href="#") Show snippet code
								section.code
									div
										h3
											span HTML
											a.copy-to-clipboard(href="#") Copy
										pre.html
											code(data-language="html")=component.markup
				footer
